.card1 {
  background-color: #1da11f;
  margin-top: 35%;
  width: 17.3%;
}

.card2 {
  background-color: #1da11f;
  margin-top: 35%;
  width: 17.3%;
}

.card3 {
  background-color: #1da11f;
  margin-top: 35%;
  width: 17.3%;
}

.parentdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}

.image {
  height: 320px;
}

@media only screen and (max-width: 600px) {
  .card1, .card2, .card3 {
    width: 60%;
    margin-top: 70px;
    font-size: 30px;
    justify-content: center;
  }

  .card1 {
    margin-top: 50%;
  }

  .parentdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    font-size: smaller;
  }

  .image {
    width: 100%;
    height: auto; /* maintain aspect ratio */
  }
}
