.mainc {
  position: absolute;
  display: flex;
  background-image: url("../../images/Untitled design (6).png");
  justify-content: center;
  width: 100vw;
  height: 30vh;
  top: 14.8%;
  left: 0%;
  padding: 150px;
  background-repeat: no-repeat;
background-size: 100vw;
}

.middlec {
    display: flex;
    justify-content: left;
    margin-right: 20%;
    color: black;
    font-size: large;
      margin-top: 4%;
}

#search {
  display: flex;
  justify-content: center;
  border: 3px solid #be80ff;
  box-sizing: border-box;
  width: 25vw;
  margin: 10px;
  height: 2vw;

}

.searchb {
  height: 55px;
  width: 200px;
  background-color: #1da11f;
  border: 2px solid #1ddd33;
}

@media only screen and (max-width: 600px) {
  .mainc {
    height: auto;
    display: flex;
    top: 24.5%;
    flex-direction: column;
    position: absolute;
    top: 85px;
    width: 700px;
    height: 5vh;
    background-repeat: repeat;
  }

  .middlec {
    font-size: 30px;
  }

  #search {
    height: 50px;
    width: 350px;
    position: absolute;
    right: 60px;
    bottom: 130px;
  }

  .searchb {
    position: absolute;
    bottom: 70px;
    left: 50%;
  }
}